<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11407621142-7lhdli7t44iki3hd8qs83dbjou81qd78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11407621142-7lhdli7t44iki3hd8qs83dbjou81qd78</string>
	<key>API_KEY</key>
	<string>AIzaSyBbM07-Be94iq2OBcTEQubSBCTPN53awGE</string>
	<key>GCM_SENDER_ID</key>
	<string>11407621142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.utsAppsMarket1123150112</string>
	<key>PROJECT_ID</key>
	<string>verifpostmen</string>
	<key>STORAGE_BUCKET</key>
	<string>verifpostmen.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11407621142:ios:acbee0da22afe65590c937</string>
</dict>
</plist>